<%- include('../partials/head') %>

<div class="divStudentImage">
    <div><img src="<%= '/images/studentsPhotosLQ/' + studentImage  %>" alt="<%= documentData.last_name + ', ' + documentData.first_name %>" class="credStudentImage"></div>
    <div><%= documentCode %></div>
</div>

<div class="credDivTitles">
    <div class="credTitles"><%= documentTemplate.credential_forehead %></div>
    <div class="credTitles"><%= documentTemplate.credential_back %></div>
</div>

<div class="credDivData">
    <div class="credDivData2">
        <div class="credDivData3">
            <div class="credDivData4"><b><%= documentData.last_name.toUpperCase() + ' ' + documentData.first_name.toUpperCase()  %></b></div>
            <div class="credDivData4"><b>DNI: <%= documentData.dni  %></b></div>
            <div class="credDivData4"><b>EMISIÓN: <%= issueDateString  %></b></div>
            <div class="credDivData4 <%= expirationDateString == '00/00/0000' ? 'credTransparent' : null %>"><b>VENCIMIENTO: <%= expirationDateString  %></b></div>
        </div>
        <div class="credDivSignatures">            
            <div class="credDivSignature">
                <img src="/images/documentsImages/<%= documentTemplate.signature1_image %>" alt="Firma1" class="credSignature">
            </div>
            <% if (documentTemplate.signature2_image != '' && documentTemplate.signature2_image != null) { %>
                <div class="credDivSignature">
                    <img src="/images/documentsImages/<%= documentTemplate.signature2_image %>" alt="Firma2" class="credSignature">
                </div>
            <% } %>
            
        </div>
        <div class="credDivNormatives">            
            <%= documentTemplate.credential_normatives  %>
        </div>
    </div>

    <div class="credDivData2">
        <div class="credDivLogo">
            <img src="/images/documentsImages/<%= documentTemplate.credential_logo %>" alt="Logo de la credencial" class="credLogo">
        </div>
    </div>
</div>

<div>