<%- include('../partials/head') %>
<%- include('../partials/header') %>

<% if (locals.alertMessage) { %>
    <script>
        alertify.warning('Debe cambiar su contrase単a');
    </script>
<% } %>

<div class="div1 div12">
    <h3 class="title1">Cambiar contrase単a</h3>

<form action="/users/change-password" method="POST" class="form1" >

    <div>
        <input type="text" name="email" placeholder="" class="input1" value="<%= oldData.email %>" blocked>
        <div class="divError1"></div>
    </div>

    <div class="divCss1">
        <input type="password" name="password" placeholder="Contrase単a" class="input1 <%= locals.errors && errors.password ? 'isInvalid' : null %>" >
        <div class="divError1">
            <% if (locals.errors && errors.password) { %>
                <%= errors.password.msg %> 
            <% } %>
        </div>
    </div>

    <div class="divCss1">
        <input type="password" name="confirmPassword" placeholder="Reingrese contrase単a" class="input1 <%= locals.errors && errors.confirmPassword ? 'isInvalid' : null %>" >
        <div class="divError1">
            <% if (locals.errors && errors.confirmPassword) { %>
                <%= errors.confirmPassword.msg %> 
            <% } %>
        </div>
    </div>

    <div class="divCss1">
        <button type="submit" class="button1">Guardar</button>
    </div>
</form>

</div>



