<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/userLogged') %>

<% if (locals.successMessage) { %>
    <script>
        alertify.success('Contraseña restablecida con éxito');
    </script>
<% } %>

<div class="div1">
    <h3 class="title1">Restablecer contraseña</h3>

<form action="/users/restore-password" method="POST" class="form1" >

    <div>
        <select name="selectAdm" class="input1 select1 <%= locals.errors && errors.selectAdm ? 'isInvalid' : null %>">
            <option value="default" selected>--Seleccione un administrador--</option>
            <% administrators.forEach(administrator => { %>
                <% if (administrator.company != 'PSI') { %>
                    <option value="<%= administrator.user_email %>" <%= locals.oldData && oldData.selectAdm == administrator.id ? 'selected' : null %>><%= administrator.last_name + ', ' + administrator.first_name + ' --- ' + administrator.user_email + ' --- ' + administrator.company %></option>
                <% } %>
            <% }) %>
        </select>
        <div class="divError1">
            <% if (locals.errors && errors.selectAdm) { %>
                <%= errors.selectAdm.msg %>
            <% } %>
        </div>
    </div>

    <div class="divCss1">
        <button type="submit" class="button1 button2">Restablecer</button>
    </div>
</form>

</div>



